.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex-body{
    height: 650px;
    width: 1000px;
    margin: 30px auto;
    background-color: red;
}

.pokedex-screen{
    background-color: black;
    height: 600px;
    width: 900px;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,1);
}

.loading-info{
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.is-hidden{
    display: none;
}

.generations label,
.generations input {
    margin: 10px;
}